.App {
  text-align: center;
  font-family: "Arial", sans-serif;
  background: rgb(37, 88, 118);
}

.movie-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.movie-card {
  border: 10px solid #3e3a3a;
  background: rgb(210, 15, 151);
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  width: 250px;
  transition: transform 0.6s ease-in-out; /* Animation for the transform property */
}

.movie-card:hover {
  transform: scale(1.05); /* Increase size on hover */
}

.movie-details {
  text-align: left;
}

.movie-details {
  text-align: left;
}
